@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.menu-name{
    padding: 10px 25px;
    color: white;
    text-align: center;
    height: 50px;
    background-color: rgba(24, 23, 23, 0.693);
}
/* .nav-bar{
} */
.main-content{
    /* padding: 20px; */
    list-style-type: none;
    color: white;
}
.main-content li a{
    text-decoration: none;
    color: white;
    padding-left: 13px;
}
.main-content .list-item{
    padding: 10px 25px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.main-content .list-item:hover{
    transform: scale(1.02);
    cursor: pointer;
    box-shadow:  0 3px 19px rgba(0, 0, 0, 0.25);
}
.social-section{
    position: absolute;
    bottom: 30px;
    display: flex;
    transform: translate(6.8%, 0%);
    gap: 10px;
    color: white;
}
.social{
    background-color: rgba(24, 23, 23, 0.222);
    padding: 7px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.social:hover{
    transform: scale(1.1);
}
.cross{
    position: absolute;
    top: 10px;
    left: 18px;
    color: white;
    width: 29px;
    height: 29px;
    text-align: center;
    padding-top: 3px;
    border-radius: 3px;
    box-shadow: .5px .5px 2px gray;
    cursor: pointer;
    background: gray;
    z-index: 2;
    transition: all 0.3s ease;
}
#btn{
    display: none;
}
#btn:checked ~ .cross i:before{
    content: "\f00d";
}
.container{
    position: fixed;
    left: -200px;
    transition: all 0.3s ease;
    height: 100vh;
    width: 200px;
    background-color: gray;
}
#btn:checked ~ .container{
    position: fixed;
    left: 0;
}
#btn:checked ~ .cross{
    left: 184px;
}