@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
.cards{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img{
    height: 300px;
    width: 400px;
    border-radius: 5px;
}
.captions{
    color: white;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.navigate{
    color: white;
    position: absolute;
    bottom: 50%;
    font-size: 1.8rem;
    cursor: pointer;
    width: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    transition-duration: .3s;
    transition-property: background-color;
    transition-timing-function: ease;
}
.left{
    left: 0px;
}
.right{
    right: 0px;
}
.navigate:hover{
    background-color: #36454F;
}
.image-no{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}
.image-dots{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 7px;
    cursor: pointer;
}
.dots{
    color: #40E0D0;
    font-size: .7em;
}
.dots:hover{
    color: #008080;
}
.mountain-img{
    animation-name: fade;
    animation-duration: .5s;
}
@keyframes fade{
    from {opacity: .6}
    to {opacity: 1}
}