@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    min-height: 200px;
    min-width: 300px;
    max-width: 300px;
    padding: 20px;
    border-radius: 12px;
    overflow-wrap: break-word;
}
input[type="text"]{
    padding: 8px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    width: 200px;
}
button[type="button"]{
    padding: 10px;
    background-color: goldenrod;
    color: white;
    border: none;
    width: 60px;
    border-radius: 4px;
    cursor: pointer;
}
.add-center{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
#list-data{
    margin-top: 10px;
}